@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --heading-col: #3A3A3A;
    --btn-col: #fff;
    --card-head-col: #18191F;
    --p-col: #787885;
    --price-col: rgba(0, 0, 0, 0.87);
}

.btn {
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border: none;
    outline: none;
    margin-top: 20px;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* start nav style */
header {
    width: 86%;
    max-width: 1240px;
    margin: 85px auto;
}

nav,
ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav h2 {
    color: var(--heading-col);
    font-size: 1.8rem;
    font-weight: 700;
}

nav ul li,
i {
    margin: 0 20px;

}

nav ul li a {
    color: var(--heading-col);
    font-weight: 600;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content .content {
    width: 582px;
}

.header-content .content h2 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--heading-col);
}

.img-camaera img{
    position: relative;
    top: 200px;
    z-index: 1;
}
.img-backg img{
    position: absolute;
    top: 260px
}
/* end nav style */



/* start sponsor style */
.sponsor-section{
    max-width: 1240px;
    display: flex;
    margin: 300px auto;
    justify-content: space-between;

}

/* end sponsor style */